<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ProjetoCRUD</display-name>
	<servlet>
		<servlet-name>LoginControle</servlet-name>
		<servlet-class>controle.LoginControle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginControle</servlet-name>
		<url-pattern>/loginControle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UsuarioControle</servlet-name>
		<servlet-class>controle.UsuarioControle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsuarioControle</servlet-name>
		<url-pattern>/usuarioControle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoffControle</servlet-name>
		<servlet-class>controle.LogoffControle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoffControle</servlet-name>
		<url-pattern>/logoffControle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClienteControle</servlet-name>
		<servlet-class>controle.ClienteControle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClienteControle</servlet-name>
		<url-pattern>/clienteControle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FuncionarioControle</servlet-name>
		<servlet-class>controle.FuncionarioControle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FuncionarioControle</servlet-name>
		<url-pattern>/funcionarioControle</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>FilterAdmin</filter-name>
		<filter-class>util.FilterAdmin</filter-class>
	</filter>

	<filter>
		<filter-name>Filter</filter-name>
		<filter-class>util.Filter</filter-class>
	</filter>





	<filter-mapping>
		<filter-name>FilterAdmin</filter-name>
		<url-pattern>/CadastroUsuario.jsp</url-pattern>
	</filter-mapping>
	
	

	<filter-mapping>
		<filter-name>Filter</filter-name>
		<url-pattern>/CadastroFuncionario.jsp</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>Filter</filter-name>
		<url-pattern>/CadastroCliente.jsp</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>Filter</filter-name>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>